<script>
export default {
  data: () => ({
    valid: true,
    fields: {
      name: null,
      email: null,
      password: null,
    },
    rules: {
      name: [
        (value) => !!value || "Name is required",
        (value) => (value && value.length <= 10) || "Name must be less than 10 characters",
      ],
      email: [
        (value) => !!value || "E-mail is required",
        (value) => /.+@.+\..+/.test(value) || "E-mail must be valid",
      ],
      password: [
        (value) => !!value || "Password is required",
        (value) => (value && value.length >= 5) || "Password must have 5+ characters",
        (value) => /(?=.*[A-Z])/.test(value) || "Must have one uppercase character",
        (value) => /(?=.*\d)/.test(value) || "Must have one number",
        (value) => /([!@$%])/.test(value) || "Must have one special character [!@#$%]",
      ],
    },
  }),
  methods: {
    validate(e) {
      if (this.$refs.form.validate()) {
        // console.log(Object.assign({}, this.fields));
        console.log({ ...this.fields });
      } else {
        console.log("form is invalid", this.$refs.form.validate(), this.valid);
      }
      e.preventDefault();
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
  },
};
</script>

<template>
  <v-form ref="form" v-model="valid" lazy-validation @submit="validate">
    <pre>{{ fields }}</pre>
    tesT1@gmail.com
    <v-text-field
      v-model="fields.name"
      :counter="10"
      :rules="rules.name"
      label="Name"
      required
    ></v-text-field>

    <v-text-field
      v-model="fields.email"
      :rules="rules.email"
      label="E-mail"
      required
    ></v-text-field>

    <v-text-field
      type="password"
      v-model="fields.password"
      :rules="rules.password"
      error-count="5"
      label="Password"
      required
    ></v-text-field>

    <v-btn type="submit" :disabled="!valid" color="success" class="mr-4"> Validate </v-btn>

    <v-btn color="error" class="mr-4" @click="reset"> Reset Form </v-btn>

    <v-btn color="warning" @click="resetValidation"> Reset Validation </v-btn>
  </v-form>
</template>
