<script>
export default {
  beforeCreate() {
    // Called when the instance is initialized.
  },
  created() {
    // Called after the instance has finished processing all state-related options.
  },

  beforeMount() {
    // Called right before the component is to be mounted.
  },
  mounted() {
    // Called after the component has been mounted.
  },

  beforeUpdate() {
    // Called right before the component is about to update its DOM tree due to a reactive state change.
  },
  updated() {
    // Called after the component has updated its DOM tree due to a reactive state change.
  },

  beforeUnmount() {
    // Called right before a component instance is to be unmounted.
  },
  unmounted() {
    // Called after the component has been unmounted.
  },
};
</script>

<template>
  <div>test</div>
</template>
