<script>
import { mapGetters, mapState, mapActions } from "vuex";

export default {
  methods: {
    triggerDispatch() {
      // runs a dispatch action
      this.$store.dispatch("setSampleStringState"); // this.$store method
    },

    // call Actions in methods
    // mapActions helper (recommended for actions)
    ...mapActions(["setSampleStringState"]),
  },
  computed: {
    // always use getters in computed

    getStoreState() {
      // get store state (similar to useSelector)
      return this.$store.getters.getSampleStringState;
    },

    // mapGetters helper (recommended for getters)
    // use object to map getters with a different name, array if no name change will be done
    ...mapGetters(["getSampleStringState"]),

    // mapstate helper (recommended for states, aside from direct access)
    // use object to map state with a different name, array if no name change will be done
    ...mapState({
      fromStateViaMapState: (state) => state.sampleStringState,
    }),
  },
  mounted() {
    // run dispatch on mount by $store method
    this.$store.dispatch("setSampleStringState"); // dispatch triggers actions

    // run actions declared in mapAction
    this.setSampleStringState();
  },
};
</script>

<template>
  <div>
    <!-- ACCESS BY GETTERS -->
    <div>from getters: {{ getStoreState }}</div>
    <br />
    <!-- DIRECT ACCESS TO STATE -->
    <div>$store method: {{ $store.state.sampleStringState }}</div>
    <br />
    <!-- ACCESS BY MAPSTATE HELPER -->
    <div>mapstate method: {{ fromStateViaMapState }}</div>
    <br />
    <!-- ACCESS BY MAPGETTERS HELPER -->
    <div>mapGetters method: {{ getSampleStringState }}</div>
    <br />

    <!-- DISPATCH BY METHOD -->
    <button @click="triggerDispatch()">new joke $this method</button>
    <br />
    <!-- CALL ACTION USING MAPACTIONS IN METHODS -->
    <button @click="setSampleStringState()">new joke mapActions method</button>
  </div>
</template>
