<script>
export default {
  props: ["stateProp", "stringTest"],
  data() {
    return {
      fromParentStateProp: undefined,
      fromParentStringProp: undefined,
    };
  },
  methods: {
    clicker() {
      this.$emit("parentFunction");
      console.log(this.fromParentStateProp, this.fromParentStringProp);
    },
  },
  watch: {
    // WATCH FOR PROP CHANGES
    stateProp(val) {
      this.fromParentStateProp = val;
      console.log(val);
    },
    stringTest(val) {
      this.fromParentStringProp = val;
      console.log(val);
    },
  },
  created() {
    // ASSIGN PROP VALUE TO STATES ON CREATE
    this.fromParentStateProp = this.stateProp;
    this.fromParentStringProp = this.stringTest;
  },
};
</script>

<template>
  <div>
    <div>State:{{ stateProp }}</div>
    <div>String:{{ stringTest }}</div>
    <button @click="clicker">press</button>
  </div>
</template>
