<script>
import ChildComponent from "./ChildComponent.vue";

export default {
  components: { ChildComponent },
  data() {
    return {
      stateProp: "state prop value",
    };
  },
  methods: {
    parentFunction() {
      this.stateProp = "changed the stateprop";
    },
  },
};
</script>

<template>
  <div>
    <ChildComponent
      :stateProp="stateProp"
      @parentFunction="parentFunction"
      stringTest="string test"
    />
  </div>
</template>
