<script>
import BaseSheet from "../components/BaseSheet.vue";
import BaseForm from "../components/BaseForm.vue";
import TextField from "../components/TextField.vue";
import NumField from "../components/NumField.vue";
import SelectField from "../components/SelectField.vue";

export default {
  components: { BaseSheet, BaseForm, TextField, NumField, SelectField },

  data() {
    return {
      settings: {
        title: "text-h6",
        headers: "text-subtitle-2",
        textfield_attrib: "solo-inverted dense flat hide-details clearable",
        textfield_fontsize: "10pt",
      },
      //text
      TextDefault: "Text Input",
      TextReadOnly: "Sample Long Text Read Only",

      //numbers
      numDefault: 1_000_000_000.12345,
      numReadOnly: 9_999_999_999,

      //autocomplete
      selectedItem: "a",
      dropdownItems: [
        "selection aselection aselection aselection a",
        "selection b",
        "selection c",
        "selection d",
      ],

      rowData: [
        { a: 1, b: "Sample Long Text Read Only", c: 3, d: 4 },
        { a: 1, b: "Sample Long Text Read Only", c: 3, d: 4 },
        { a: 1, b: "Sample Long Text Read Only", c: 3, d: 4 },
      ],
    };
  },
  computed: {
    testVal() {
      return (1_000_000_000.12345).toLocaleString("en", {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
      });
    },
  },
};
</script>
<template>
  <div>
    <pre>{{ settings }}</pre>
    <div class="ma-1">
      <BaseSheet
        title="Yakisoba all 4 fields"
        :headers="['Noodles 1', 'Noodles 2', 'Noodles 3', 'Noodles 4']"
        :centered="false"
        :columnWidth="[250, 200, 160, 140]"
      >
        <BaseForm :columnWidth="[250, 200, 160, 140]" v-for="(data, index) in rowData" :key="index">
          <template v-slot:1>
            <SelectField v-model="data.a" :items="dropdownItems" />
          </template>
          <template v-slot:2>
            <TextField v-model="data.b" :readOnly="true" alignment="" />
          </template>
          <template v-slot:3>
            <NumField v-model="data.c" />
          </template>
          <template v-slot:4>
            <TextField v-model="data.d" :readOnly="true" alignment="center" />
          </template>
        </BaseForm>
      </BaseSheet>

      <BaseSheet
        title="Yakisoba 3 fields"
        :headers="['Noodles 1', 'Noodles 2', 'Noodles 3']"
        :centered="true"
        :columnWidth="[130, 100, 90]"
      >
        <BaseForm :columnWidth="[130, 100, 90]" v-for="(data, index) in rowData" :key="index">
          <template v-slot:1>
            <SelectField v-model="data.a" :items="dropdownItems" />
          </template>
          <template v-slot:2>
            <NumField v-model="data.c" />
          </template>
          <template v-slot:3>
            <TextField v-model="data.d" :readOnly="true" alignment="center" />
          </template>
        </BaseForm>
      </BaseSheet>
    </div>
  </div>
</template>

<style scoped></style>
