<script>
export default {
  props: ["title", "headers", "columnWidth", "centered"],
};
</script>

<template>
  <div class="csDiv">
    <div class="text-h6 d-flex justify-space-between px-2">
      {{ title }}
      <div class="d-flex align-center">
        <v-btn icon x-small class="grey darken-3 white--text">+</v-btn>
        <v-btn icon x-small class="grey darken-3 white--text ml-1">-</v-btn>
        <v-btn icon x-small class="grey darken-3 white--text ml-1">c</v-btn>
      </div>
    </div>
    <div class="csDiv d-flex flex-row grey darken-3">
      <v-sheet
        v-for="(header, index) in headers"
        :key="index"
        :width="columnWidth[index]"
        :class="`mx-1 px-1 grey darken-3 white--text text-subtitle-2 ${centered && 'text-center'}`"
      >
        {{ header }}
      </v-sheet>
    </div>
    <slot />
  </div>
</template>

<style>
.csDiv {
  width: fit-content;
}
</style>
