<script>
export default {
  props: ["columnWidth"],
};
</script>

<template>
  <div class="csDiv d-flex flex-row d-inline my-1">
    <v-sheet v-for="(data, index) in columnWidth" :key="index" :width="data" class="d-flex mx-1">
      <slot :name="index + 1" />
    </v-sheet>
  </div>
</template>

<style scoped>
.csDiv {
  width: fit-content;
}
</style>
