v-sheet
<script>
export default {
  props: ["value", "items", "width"],
};
</script>

<template>
  <v-text-field
    :value="value"
    @input="(e) => $emit('input', e)"
    type="number"
    @wheel="(e) => e.target.blur()"
    solo-inverted
    dense
    flat
    hide-details
    clearable
    class="hideScroller cField"
  />
</template>

<style scoped>
.cField {
  font-size: 10pt;
}
.center >>> input {
  text-align: center;
}

.hideScroller >>> input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
</style>
