<script>
export default {
  props: ["value", "items", "width"],
};
</script>

<template>
  <v-autocomplete
    :value="value"
    @input="(e) => $emit('input', e)"
    :items="items"
    solo-inverted
    dense
    flat
    hide-details
    class="cField"
  />
</template>

<style scoped>
.cField {
  font-size: 10pt;
}
</style>
