<script>
export default {
  props: ["value", "readOnly", "alignment", "width"],
};
</script>

<template>
  <v-text-field
    :value="value"
    @input="(e) => $emit('input', e)"
    solo-inverted
    dense
    flat
    hide-details
    :readonly="readOnly"
    :clearable="!readOnly"
    :class="`cField ${alignment === 'center' && 'center'}`"
  />
</template>

<style scoped>
.cField {
  font-size: 10pt;
}
.center >>> input {
  text-align: center;
}
</style>
